[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cTRAP"]
	path = cTRAP
	url = https://github.com/nuno-agostinho/ctrap
[submodule "psichomics"]
	path = psichomics
	url = https://github.com/nuno-agostinho/psichomics
